#accountSummary {
	min-height: 146px;
	color: white;
}

#navigationPanel paper-icon-item {
	background: white;
	cursor: pointer;
}

app-drawer-layout.layout {
	z-index: 0;
}

#accountSummary > #background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#accountSummary {
	background-color: #4CAF50;
}
